.spacer {
    flex: 1 1 auto;
}

.container {
    height: calc(100% - var(--mat-toolbar-standard-height));
}

.tools-container {
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-top: 2rem;
}

.document-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.document-row:hover {
    background-color: #D9E3FC;
}

.document-row.selected-row {
    background-color: #005cbb;
    color: #fff;
}

.documents-filter ::ng-deep .mdc-text-field {
    width: 80%;
    border-radius: 1.5rem;
    overflow: hidden;
    margin: 0 auto;
}

.document-toolbar {
    background-color: var(--mdc-filled-text-field-container-color);
    margin: 2rem auto;
    border-radius: 1.5rem;
    height: 3rem;
    width: 95%;
    padding: 1rem;
}

.table-container {
    height: 75%;
    padding: 0 2rem;
}

.fab-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    transition: right 0.3s ease;
}