<mat-sidenav-container class="container">

  <mat-sidenav-content class="document-list">
    <div class="tools-container">

      <mat-form-field hide-subscript-wrapper class="documents-filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Document name, metadata, etc..." #input>
      </mat-form-field>

      @if (selectedDocument) {
      <mat-toolbar class="document-toolbar">
        <button mat-icon-button matTooltip="Cancel selection" matTooltipPosition="above" 
          (click)="clearSelection()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Edit document" matTooltipPosition="above"
          (click)="openEditDialog(selectedDocument)">
          <mat-icon>edit_document</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete document" matTooltipPosition="above"
          (click)="deleteElementDialog(selectedDocument)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Download document" matTooltipPosition="above"
          (click)="downloadDocument(selectedDocument)">
          <mat-icon>download</mat-icon>
        </button>
        <button mat-icon-button matTooltip="View details" matTooltipPosition="above" 
          (click)="toggleDocumentDetails()">
          <mat-icon>info</mat-icon>
        </button>
        <span class="spacer"></span>
      </mat-toolbar>
      }
    </div>

    <div class="table-container">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let document"> {{document.name}} </td>
        </ng-container>

        <ng-container matColumnDef="updateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Update </th>
          <td mat-cell *matCellDef="let document"> {{document.updateTime | date}} </td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
          <td mat-cell *matCellDef="let document"> {{document.size | fileSize}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectDocument(row)" class="document-row"
          [class]="row.uuid === selectedDocument?.uuid ? 'selected-row' : ''"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="20"
        aria-label="Select page of documents"></mat-paginator>

    </div>
    <button mat-fab extended color="primary" class="fab-button" aria-label="Add new document"
      (click)="openEditDialog()">
      <mat-icon>note_add</mat-icon>
      New document
    </button>

  </mat-sidenav-content>
  <mat-sidenav #sidenav position="end" mode="side">
    <app-document-details [document]="selectedDocument!" (close)="clearSelection()"></app-document-details>
  </mat-sidenav>
</mat-sidenav-container>