.footer {
    font-size: 0.8rem;
    height: calc(0.5*var(--mat-toolbar-standard-height));
}

.spacer {
    flex: 1 1 auto;
}

.footer-link {
    color: var(--mdc-protected-button-label-text-color, var(--mat-app-primary));
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer-link:hover {
    text-decoration: underline;
}