form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: border-color 0.3s;
}

.dropzone-hovered {
    border-color: #3f51b5;
}