<form [formGroup]="formLogin" class="login-container">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (formLogin.controls["password"].hasError("minlength")) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
    </mat-form-field>
    <button class="login-button" mat-raised-button (click)="login()">Login</button>

    @if (loading()) {
        <mat-spinner diameter="50"></mat-spinner>
    }
</form>