.login-container {
    margin: 0 auto;
    max-width: 400px;
    height: calc(100% - var(--mat-toolbar-standard-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-spinner {
    margin: 20px auto;
    --mdc-circular-progress-size: 20%
}

.login-button {
    margin: 1em;
}